apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: aegorov-admission.default.cluster.local
  namespace: default
  labels:
    component: mutating-controller
webhooks:
  - name: aegorov-admission.default.cluster.local
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    clientConfig:
      service:
        name: example-webhook
        namespace: default
        path: "/mutate"
      caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURkRENDQWx5Z0F3SUJBZ0lVWStOVStqajhvblNxMDJVY0VLQ3hTTVhCVW5Zd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1VqRUxNQWtHQTFVRUJoTUNRVlV4RURBT0JnTlZCQWdUQjBWNFlXMXdiR1V4RWpBUUJnTlZCQWNUQ1UxbApiR0p2ZFhKdVpURVFNQTRHQTFVRUNoTUhSWGhoYlhCc1pURUxNQWtHQTFVRUN4TUNRMEV3SGhjTk1qTXdOREE1Ck1Ua3lPVEF3V2hjTk1qZ3dOREEzTVRreU9UQXdXakJTTVFzd0NRWURWUVFHRXdKQlZURVFNQTRHQTFVRUNCTUgKUlhoaGJYQnNaVEVTTUJBR0ExVUVCeE1KVFdWc1ltOTFjbTVsTVJBd0RnWURWUVFLRXdkRmVHRnRjR3hsTVFzdwpDUVlEVlFRTEV3SkRRVENDQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFPNWJiVWpUCk1MZm9MUVcreENhUENUMnF1ODJZYzFQOVFaT0hJT0pNTEhiRGl3ZWsvZDNGclQxd0o1VGJoMGRZZjZHS3oyWHEKdkc0em1WK2J1NlluMGs1ZjJ4V3FpWVQyYW1SeFlVb3lUUVZwSGhieWwxQ3Fya2JDQ3pWbEZxSmszRjd6OURlZQpXYjVjOTV5bHdSVGdQS0M5NEx3MUtkci9jek5keE82QTJwaTBDNWNUY2x2YkMzYTUzTGZiMHBzeUZsOGNZaFFSCmh3YmwxcjFNNFFnVzdtS2MvRDhwczVSN1JHVHY1VFd3d1hkRjZPNGVCZWVGbStoMDgvc2pRYm12REFOVW9qbE8KdlhXR0FwQmVaL0w3aHJPWDNQQXRzWGhweUdjbG4rdG5BR0NzbUpKSDl3eXhDV1JJbnRFdENvWnIzN1hoRzJXcwpsSCtHemR6MmlzeENzVzBDQXdFQUFhTkNNRUF3RGdZRFZSMFBBUUgvQkFRREFnRUdNQThHQTFVZEV3RUIvd1FGCk1BTUJBZjh3SFFZRFZSME9CQllFRlBiQnFDKzhxd2ZQamNNdUNXR3R3VC95NG9LMk1BMEdDU3FHU0liM0RRRUIKQ3dVQUE0SUJBUUNoYmtBclJsYnFuZ3BYYTZJVGFvZXdMSjdqK2pSY2pLdXJJR1FOQko4OWY0RHpCbFkrVUFFOApMK2Q5R3RrNVYzSGt0Ri9iNTZiS3dXVFFsaEVyRHBsQmptaVFOckNEbFZLY2xXK09rSU5FMVExR2M2UytGMlVUClhScGZacVdJNGoxUU1WUTFzZWx2REFRc2tHRmtUTER4T01DcGtCcy9qb0N4TUlwdnh4b3RZT2tMOWcxV0c5OGUKZ1R4MTdYMGxvUGl0UExSQ2dic1JGMXN2c0xHejNzanV4TklNY3FlQ1gvVFN3cUFJRlRpVDJ2UlFwMWJOQzAwVgpraldHT3dVdDhSSzRzc2l3MVFVc1BoMjl0cjlMa21OVityYU9MY0ZlUzZrK0J5bXV5RG1HWVBnd1I1ekJyOVNlCjhCMTg3ektRVTI1S0dXMjVlUHRTTFJMWlAzZnRldEdwCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K"
    rules:
      - apiGroups: [ "apps" ]
        resources:
          - "statefulsets"
        apiVersions:
          - "*"
        operations:
          - CREATE
          - UPDATE